name = "betpot-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[vars]
ENVIRONMENT = "development"
TICKET_PRICE = "10"
PLATFORM_FEE = "0.01"
MAX_EVENTS_PER_DAY = "100"
JWT_SECRET = "betpot-super-secret-jwt-key-change-in-production"
THE_ODDS_API_KEY = "6d00ed1802e5f3151bd864e886dcfb05"
API_SPORTS_KEY = "a28c7ec1d8573b0dc0b4d7908960b3e5"
ADMIN_WALLETS = "9B7SLBvupwfUGxYfxmK1VRWx6BtbEinRrx5u973JquKj,CJpMo2ANF1Q614szsj9jU7qkaWM8RMTTgF3AtKM7Lpw,4Gw23RWwuam8DeRyjXxMNmccaH6f1u82jMDkVJxQ4SGR,GJrjFmeqSvLwDdRJiQFoYXUiRQgF95bE9NddZfEsJQvz"

[[d1_databases]]
binding = "DB"
database_name = "betpot-db"
database_id = "a9cdb106-90ba-4f21-a9e8-d9b9eeca65cf"

[[r2_buckets]]
binding = "IMAGES"
bucket_name = "betpot-images"

[[durable_objects.bindings]]
name = "EVENTS_DO"
class_name = "EventsDurableObject"

[[migrations]]
tag = "v1"
new_classes = ["EventsDurableObject"]

[unsafe.metadata]
ratelimit = { simple = { limit = 100, period = 60 } }

[triggers]
crons = ["*/5 * * * *"]  # Run every 5 minutes
